/* Declarar las constantes de colores y fuentes */
/* Root es la raíz de todas la fuentes */
:root{
    /* Fuentes */
    /* En css todas las variables se inicializan con -- */
    /* Es mejor no utilizar tildes */
    --titulos:'Lato', sans-serif;
    --parrafos:'Roboto', sans-serif;
    /* colores */
    /* Para activar el panel para los colores se pone "#fff;" */
    /* El color negro es #000 */
    /* El color blanco es #fff */
    --encabezado: rgb(127, 29, 29);
    --piepagina:#000;
    --enlace:#fff;
    --enlacesobre:rgb(255, 136, 0);

    /* Para poner una imagen de fondo */
    --fondo:url('../images/background.jpg')
}